# =====================================================
# Python
# =====================================================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# =====================================================
# Environment Variables
# =====================================================
.env

# =====================================================
# Logs
# =====================================================
logs/
*.log

# =====================================================
# Node Modules
# =====================================================
frontend/node_modules/

# =====================================================
# React Build
# =====================================================
frontend/build/

# =====================================================
# VSCode
# =====================================================
.vscode/

# =====================================================
# Mac / Linux
# =====================================================
.DS_Store

# =====================================================
# Pytest
# =====================================================
.pytest_cache/

# =====================================================
# Coverage
# =====================================================
.coverage
htmlcov/